body {
    overflow: hidden;
}

p {
    color: #000;
    font-weight: bold;
    font-size:18px;
}

canvas {
    background: url('../imgs/background.png');
    z-index: -1;
    position: absolute;
    top: 0;
}

img#share_button {
    cursor: pointer;
}
